*{
    margin: 0px;
    padding: 0px;
}


body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

nav.navigation {
    width: 430%;
    height: 207px;
    box-shadow: 0 4px 19px 7px rgb(0 0 0 / 40%);
}
.navigation ul {
    margin: auto;
    font-size: 70px;
    align-items: center;
    justify-self: center;
}
.navigation label {
    font-size: 115px;
    margin: 0px 33px 0px 57px;
}
.navigation ul li {
    margin: 17px;
}
.navigation label {
    font-size: 115px;
    margin: 0px 33px 0px 57px;
}
.wrapper {
    height: 361px;
    width: 844px;
    margin: 0px 330px;
}
.heading {
    font-size: 150px;
    text-shadow: 0.2px 0.2px 8px black;
}
.container {
    display: flex;
    flex-direction: column;
    width: 400%;
    margin: 10px -4px;
    align-items: center;
}
.analog {
    height: fit-content;
    width: fit-content;
    border-radius: 100px;
}
.subHead {
    height: 58px;
    font-size: 64px;
    margin-block-start: 72px;
}
.digital {
    height: fit-content;
    width: fit-content;
    margin-top: 229px;
    border-radius: 100px;
    padding-bottom: 87px;
    margin-block-end: 200px;
}
.digital .desc p {
    font-size: 173px;
    margin-block-start: 179px;
}
.analog .desc {
    font-size: 76px;
    padding: 36px;
    margin: 132px 73px;
}
.digital .desc label {
    font-size: 48px;
    margin-left: 30px;
}