* {
     margin: 0px;
     padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

nav.navigation {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 127%;
    height: 68px;
}
.navigation ul {
    margin: auto;
    font-size: 25px;
    align-items: center;
    justify-self: center;
}
.navigation label {
    font-size: 40px;
}
.container {
    width: 126%;
    margin-block-end: 35px;
}
.box{
    margin-block-start: 191px;
    left: -10px;
    width: 310px;
    height: 310px;
}
.container img {
    width: 300px;
    height: 300px;
    margin-left: 8px;
}
#second {
    margin-block-end: -164px;
    height: 140px;
    left: 228px;
}



#minute {
    margin-block-end: -151px;
    border-bottom: 128px solid black;
    left: 223px;
}
#hour {
    margin-block-end: -131px;
    left: 222px;
    border-bottom: 86px solid white;
}
.circle {
    margin-block-end: -112px;
    left: 216px;
    width: 20px;
    height: 20px;
}
button.btm-big {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin: 20px;
    padding: 8px 45px;
}
.switch {
    width: 123%;
}